body {
    font-size: 200%;
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    margin: 0px;
}

#turn {
    background-color: black;
    font-size: 125%;
    padding: 15px;
    color: white;
    bottom: 100px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.logoViolet {
    color: #e5cce5;
}

.logoCompany {
    color: #ad5ead;
}

@media only screen and (orientation:portrait) {
    #turn {
        display: block;
    }

    #container {
        display: none;
    }
}

@media only screen and (orientation:landscape) {
    #turn {
        display: none;
    }

    #container {
        display: block;
    }
}
